In [280]:
#ex1
def greeting():
    
   print('Hello,Python')

In [282]:
greeting()

Hello,Python

In [296]:
#ex2

def arithmetic():
    a=int(input('enter nb x '))
    b=int(input('enter nb y '))
    
    print(a+b , 'addition')
    print(a-b , 'sub')
    print(a/b , 'quotient')
    print(a*b , 'product')

arithmetic()

enter nb x  10
enter nb y  10

20 addition
0 sub
1.0 quotient
100 product

In [27]:
#ex3
name='Zein'
print(f'Hello,{name}!')

Hello,Zein!

In [67]:
#ex4
universities=['ESADE','UIB','AUB','LAU','LIU','ISL']
print(universities)

['ESADE', 'UIB', 'AUB', 'LAU', 'LIU', 'ISL']

In [69]:
print(universities[0],universities[5])

ESADE ISL

In [312]:
#ex5
student={ 'name':'Zein' , 'age':'23', 'grade':'88'}
for key,value in student.items() :
     print(f'{key} :{value}')

name :Zein
age :23
grade :88

In [87]:
print(student)

{'name': 'Zein', 'age': '23', 'grade': '88'}

In [95]:
#ex6
coordinates=(4,10)
print([0],[1])

[0] [1]

In [117]:
#ex7
colors ={'Red','Green','Blue'}
print(colors)

{'Green', 'Blue', 'Red'}
{'Green', 'Black', 'Blue', 'Red'}

In [147]:
colors.add('Black')
print(colors)

{'Green', 'Black', 'Blue', 'Red'}

In [125]:
colors.add('Blue')
colors

{'Black', 'Blue', 'Green', 'Red'}

In [145]:
colors.discard('Black')
colors

{'Blue', 'Green', 'Red'}

In [151]:
light_colors={'yellow','orange','white'}
light_colors

{'orange', 'white', 'yellow'}

In [153]:
colors.union(light_colors)

{'Black', 'Blue', 'Green', 'Red', 'orange', 'white', 'yellow'}

In [188]:
#ex8
def check(n):
 if n>0:
    print('number is positive')
 if n<0:
    p('number is negative')
 else:
    print('number is zero')
 return

check(11)

number is positive
number is zero

In [224]:
#ex9
numbers=[1,2,3,4,5,6,7,8]
for i in numbers:
    if i <6:
        print(i)

1
2
3
4
5

In [226]:
#ex10
counter=0
while counter<5:
    counter+=1
    print(counter)

1
2
3
4
5

In [1]:
#ex11
grade=input('Please insert your grade(A,B,C,D,F) ').upper()
match grade:
 case 'A':
     print('Excellent')
 case 'B':
     print('Good Job')
 case 'C':
    print('Fair')
 case 'D':
     print('Needs improvement')
 case 'F':
     print('failed')

Please insert your grade(A,B,C,D,F)  a

Excellent

In [21]:
#ex12

def greet(name):
    print(f'Hello , {name} !')
    return

greet('Julia')

Hello , Julia !

In [37]:
#ex13

def square(number):
    return number**2

square(4)

16

In [79]:
#ex14

def multiply(a,b=1):
    return a*b

multiply(7,)

7

In [125]:
#ex15
list=[i for i in range(1,11)]
list
list_2= [i**2 for i in list]
list_2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [337]:
#ex16
student_dict={ 'Zein':[ 92,79,80,95] , 'Ali':[80,77,64,48] , 'Sarah':[86,55,79,85] , 'Julia':[56,89,79,57] }
student_dict

{'Zein': [92, 79, 80, 95],
 'Ali': [80, 77, 64, 48],
 'Sarah': [86, 55, 79, 85],
 'Julia': [56, 89, 79, 57]}

In [384]:
def print_average_grade(student):
    for student,grades in student_dict.items(): 
        average_grade = sum(grades) / len(grades)
        print(f'average student grade  {average_grade}')
                
print_average_grade(student_dict)

average student grade  86.5
average student grade  67.25
average student grade  76.25
average student grade  70.25

In [450]:
#ex17
a=float()
b=float()
c=''
def calculate(a,b,c):
    a=input(f"please enter number")
    b=input(f"please enter number")
    c=input(f"please enter an operator(+,-,/,*)")
    if c== '+': 
        return  float(a)+int(b)
    if c== '-': 
        return  float(a)-int(b)
    if c == '/': 
        return  float(a)/float(b)
    if c == '*': 
        return  float(a)*int(b)
    result=calculate(a,b,c)
    print(f' The result is : {result}')

In [452]:
calculate(a,b,c)

please enter number 10
please enter number 20
please enter an operator(+,-,/,*) +

30.0